* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: auto;
  font-weight: normal;
  font-size: 12px;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
}
body .ad {
  display: contents;
}
body .ad a {
  background-color: #6f0207;
  position: relative;
}
body .ad a i {
  position: absolute;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #2d2d2d;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  opacity: 0.3;
  right: 340px;
  top: 0;
}
body .ad a i:active + div {
  display: none;
}
body .ad a div {
  margin: 0 340px;
  height: 80px;
  background-image: url(https://img10.360buyimg.com/pop/jfs/t1/98935/24/22966/71553/61f264b3E43bf8345/de02a6a66c717325.jpg.webp);
  background-size: cover;
}
body header {
  display: flex;
  padding: 8px 340px;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 10px;
}
body header ul {
  display: flex;
  list-style: none;
}
body header ul li {
  padding: 0 10px;
  border-right: solid 1px #666;
}
body header ul li:first-child {
  color: #f10215;
}
body header ul li:last-child {
  border-right: none;
}
body main {
  flex: 1;
}
body main .search-section {
  background: white;
  padding: 20px 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main .search-section img,
body main .search-section a {
  width: 190px;
  height: 120px;
}
body main .search-section .container {
  flex: 1;
  display: flex;
  height: 120px;
  justify-content: space-between;
  flex-direction: column;
}
body main .search-section .container .search {
  height: 20px;
  padding: 0 30px;
  font-size: 10px;
}
body main .search-section .container .search .row {
  display: flex;
  justify-content: space-between;
}
body main .search-section .container .search .row-left {
  display: flex;
}
body main .search-section .container .search .row-left .search-container {
  position: relative;
}
body main .search-section .container .search .row-left .search-container input {
  line-height: 28px;
  border: solid 2px #f10215;
  outline-style: none;
  padding: 2px 44px 2px 17px;
  width: 460px;
  background: transparent;
  box-sizing: border-box;
}
body main .search-section .container .search .row-left .search-container span {
  position: absolute;
  top: 10px;
  left: 18px;
  color: #999;
  content: "过年大礼包";
}
body main .search-section .container .search .row-left .search-container input:focus + span:after {
  content: "";
}
body main .search-section .container .search .row-left .btn {
  background: #f10215;
  border: none;
  color: white;
  font-size: 12px;
  width: 80px;
  height: 36px;
}
body main .search-section .container .search .row .shopping-car {
  box-shadow: 0 0 2px #eee;
  border: solid 1px #eee;
  width: 100px;
  height: 36px;
  background-color: #fff;
  text-align: center;
  line-height: 34px;
  color: #f10215;
  position: relative;
}
body main .search-section .container .search .row .shopping-car .car {
  position: absolute;
  top: -2px;
  right: 6px;
  width: 20px;
  height: 16px;
  background: #f10215;
  color: white;
  line-height: 1.5em;
  clip-path: ellipse(46% 42% at 50% 50%);
}
body main .search-section .container .search ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
  color: #999;
}
body main .search-section .container .search ul li {
  margin-right: 10px;
}
body main .search-section .container .search ul li:first-child {
  color: #f10215;
}
body main .search-section .container .type {
  height: 20px;
  list-style: none;
  display: flex;
  color: #333;
  font-size: 15px;
}
body main .search-section .container .type li {
  margin: 0 10px;
}
body main .search-section .container .type li:nth-child(-n + 2) {
  color: #f10215;
}
body main .search-section a {
  background-image: url("assets/1.webp");
  background-size: cover;
}
body main .content {
  background: url(//img30.360buyimg.com/babel/jfs/t1/217391/10/10894/94499/61e149eeE1c787d2f/858e45752e821c4a.png.webp) 50% 0px no-repeat;
  height: 744px;
  padding: 10px 340px 0;
}
body main .content .type-container {
  display: flex;
  justify-content: space-between;
}
body main .content .type-container .menu {
  overflow: hidden;
  height: 450px;
  background-color: #fefefe;
  color: #636363;
}
body main .content .type-container .menu ul {
  padding: 10px 0;
}
body main .content .type-container .menu ul li {
  padding: 0 16px;
  font-size: 12px;
  color: #333;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  height: 25px;
  line-height: 25px;
  font-weight: 300;
}
body main .content .type-container .menu ul li:hover {
  background-color: #f4f4f4;
}
body main .content .type-container .menu ul li span:hover {
  cursor: pointer;
  color: #c81623;
}
body main .content .type-container .center {
  flex: 1;
  margin: 0 10px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .content .type-container .center .main_img {
  width: 500px;
  height: inherit;
  overflow: hidden;
}
body main .content .type-container .center .main_img .wrap {
  position: relative;
  left: 0px;
  width: 1500px;
  animation: animateImg ease 5s infinite normal;
}
body main .content .type-container .center .main_img .wrap img {
  width: 500px;
  float: left;
  height: 450px;
  display: block;
}
@keyframes animateImg {
  0% {
    left: 0px;
  }
  20% {
    left: 0px;
  }
  40% {
    left: -500px;
  }
  60% {
    left: -500px;
  }
  80% {
    left: -1000px;
  }
  100% {
    left: -1000px;
  }
}
body main .content .type-container .center div[class="sub_img"] {
  margin-left: 10px;
  height: inherit;
  flex: 1;
  position: relative;
  /* 默认选中第一张，根据选中的input，展示对应的图片 */
  /* 设置图片展示出来时候的动画 */
  /* 设置箭头的位置大小 */
  /* 默认隐藏箭头 */
  /* 根据选中的input设置需要展示哪个左边箭头 */
  /* 根据选中的input设置需要展示哪个右边箭头 */
}
body main .content .type-container .center div[class="sub_img"] input {
  position: absolute;
  z-index: 23;
  bottom: 10px;
}
body main .content .type-container .center div[class="sub_img"] #pic1 {
  left: 46%;
}
body main .content .type-container .center div[class="sub_img"] #pic2 {
  left: 54%;
}
body main .content .type-container .center div[class="sub_img"] .wrap .inline {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .content .type-container .center div[class="sub_img"] .wrap .inline img {
  height: 32%;
}
body main .content .type-container .center div[class="sub_img"] #pic1:checked ~ .wrap .inline:nth-child(1),
body main .content .type-container .center div[class="sub_img"] #pic2:checked ~ .wrap .inline:nth-child(2) {
  opacity: 1;
  animation: showImg linear 1s 1 0s normal;
}
@keyframes showImg {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body main .content .type-container .center div[class="sub_img"] .arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  color: #fff;
}
body main .content .type-container .center div[class="sub_img"] .left {
  left: 0;
}
body main .content .type-container .center div[class="sub_img"] .right {
  right: 0;
}
body main .content .type-container .center div[class="sub_img"] .arrow label {
  display: none;
}
body main .content .type-container .center div[class="sub_img"]:hover #pic1:checked ~ .left label:nth-of-type(2),
body main .content .type-container .center div[class="sub_img"]:hover #pic2:checked ~ .left label:nth-of-type(1) {
  display: block;
}
body main .content .type-container .center div[class="sub_img"]:hover #pic2:checked ~ .right label:nth-of-type(1),
body main .content .type-container .center div[class="sub_img"]:hover #pic1:checked ~ .right label:nth-of-type(2) {
  display: block;
}
body main .content .type-container .user {
  overflow: hidden;
  height: 450px;
  background-color: #fefefe;
  color: #636363;
  padding: 16px;
}
body main .content .type-container .user .basic {
  display: flex;
}
body main .content .type-container .user .basic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
body main .content .type-container .user .basic .regester {
  margin-left: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
}
body main .content .type-container .user .basic .regester:first-child {
  color: #666;
}
body main .content .type-container .user .basic .regester p {
  color: #333;
}
body main .content .type-container .user .basic .regester a:hover {
  color: #c81623;
  cursor: pointer;
}
body main .content .type-container .user .welfare {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f4f4f4;
}
body main .content .type-container .user .welfare span {
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  border-radius: 13px;
  color: #fff;
  background: #e1251b;
}
body main .content .type-container .user .welfare span:last-child {
  background: #363634;
  color: #e5d790;
}
body main .content .type-container .user .report {
  padding: 10px 0;
  border-bottom: solid 1px #f4f4f4;
}
body main .content .type-container .user .report .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .content .type-container .user .report .title h2 {
  font-size: 14px;
  color: #333;
}
body main .content .type-container .user .report .title h4 {
  font-size: 12px;
  color: #999;
  font-weight: 300;
}
body main .content .type-container .user .report ul {
  margin-top: 10px;
}
body main .content .type-container .user .report ul li {
  max-width: 160px;
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999;
  font-size: 12px;
}
body main .content .type-container .user .report ul li:not(:last-child) {
  margin-bottom: 6px;
}
body main .content .type-container .user .report ul li:hover {
  color: #e1251b;
  cursor: pointer;
}
body main .content .type-container .user .report ul li span {
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  vertical-align: 0;
  color: #e1251b;
  background-color: rgba(225, 37, 27, 0.08);
  margin-right: 6px;
}
body main .content .type-container .user .function {
  font-size: 12px;
  position: relative;
}
body main .content .type-container .user .function p {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 20px;
  font-weight: 300;
}
body main .content .type-container .user .function ul {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-weight: 300;
}
body main .content .type-container .user .function ul:last-child {
  flex-direction: column;
  font-weight: 400;
  height: fit-content;
}
body main .content .type-container .user .function .type li {
  color: #666;
}
body main .content .type-container .user .function .type li a {
  padding-bottom: 4px;
}
body main .content .type-container .user .function .type li a:hover,
body main .content .type-container .user .function .type li a:active {
  color: #e1251b;
  border-bottom: solid 2px #e1251b;
  font-weight: 400;
}
body main .content .type-container .user .function .type li.current_li a.current {
  color: #e1251b;
  border-bottom: solid 2px #e1251b;
  font-weight: 400;
}
body main .content .type-container .user .function .detail {
  padding: 4px 16px 4px 8px;
}
body main .content .type-container .user .function .detail li:first-child {
  color: #e1251b;
  font-weight: 400;
}
body main .content .type-container .user .function .choices > li {
  height: 24px;
  line-height: 24px;
  align-items: center;
}
body main .content .type-container .user .function .choices > li span {
  height: 20px;
  line-height: 20px;
  margin-right: 4px;
}
body main .content .type-container .user .function .choices > li span + input {
  text-align: center;
  color: #999999;
  font-size: 12px;
  padding: 2px;
  border: 1px solid #e7e7e7;
  width: 100px;
}
body main .content .type-container .user .function .choices > li span + input:hover {
  border-color: #338fff;
}
body main .content .type-container .user .function .choices > li:first-child {
  position: relative;
}
body main .content .type-container .user .function .choices > li:first-child input:focus + div {
  visibility: visible;
}
body main .content .type-container .user .function .choices > li:first-child .type_detail {
  position: absolute;
  left: -22px;
  right: -22px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 0;
  visibility: hidden;
}
body main .content .type-container .user .function .choices > li:first-child .type_detail .row {
  display: flex;
  flex-direction: column;
}
body main .content .type-container .user .function .choices > li:first-child .type_detail .row li {
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  display: inline;
  height: 20px;
  line-height: 20px;
}
body main .content .type-container .user .function .choices > li:first-child .type_detail .row li span {
  width: 100px;
  text-align: center;
  padding: 0 2px;
  margin: 0;
}
body main .content .type-container .user .function .choices > li:first-child .type_detail .row li:first-child {
  align-items: baseline;
}
body main .content .type-container .user .function .choices > li:first-child .type_detail .row li:first-child span {
  background-color: #e6e6e6;
  margin-right: 1px;
}
body main .content .type-container .user .function .choices > li:first-child .type_detail .row li:first-child span:first-child {
  color: white;
  background-color: #e40015;
}
body main .content .type-container .user .function .choices > li:nth-child(-n + 2) {
  margin-top: 4px;
}
body main .content .type-container .user .function .choices > li:nth-child(3) {
  color: #e1251b;
}
body main .content .type-container .user .function .choices > li:nth-child(4) {
  display: flex;
  align-items: center;
}
body main .content .type-container .user .function .choices > li:nth-child(4) span {
  margin-left: 4px;
}
body main .content .type-container .user .function .choices > li:last-child span {
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #e40015;
  border-radius: 10px;
  padding: 1px 8px;
}
body main .content .seckill {
  margin: 24px 0;
  height: 260px;
}
body main .content .seckill .clock {
  float: left;
  width: 170px;
  height: 100%;
  color: #fff;
  background-color: #e83632;
  background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/613f39ecb60e42dfec798a4ffc0bc012.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
body main .content .seckill .clock > p {
  font-size: 28px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}
body main .content .seckill .clock .info {
  font-size: 14px;
  margin-top: 90px;
  text-align: center;
}
body main .content .seckill .clock .info h2 {
  font-size: 18px;
  margin-top: -1px;
  margin-right: 2px;
  display: inline-block;
}
body main .content .seckill .clock .info + div {
  margin-top: 16px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
body main .content .seckill .clock .info + div span {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #2f3430;
  color: white;
  margin: 10px;
  font-size: 20px;
}
body main .content .seckill .imgs {
  display: flex;
  height: inherit;
  border: 1px solid #eee;
  background-color: white;
  /* 默认选中第一张，根据选中的input，展示对应的图片 */
}
body main .content .seckill .imgs .banner {
  width: 728px;
  position: relative;
  /* 默认选中第一张，根据选中的input，展示对应的图片 */
  /* 设置箭头的位置大小 */
  /* 默认隐藏箭头 */
  /* 根据选中的input设置需要展示哪个左边箭头 */
  /* 根据选中的input设置需要展示哪个右边箭头 */
}
body main .content .seckill .imgs .banner input {
  display: none;
}
body main .content .seckill .imgs .banner .wrap .banner {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
body main .content .seckill .imgs .banner .wrap .banner:nth-of-type(2) {
  opacity: 0;
}
body main .content .seckill .imgs .banner .wrap .banner li {
  height: 100%;
  padding: 30px 0;
  width: 25%;
  position: relative;
  text-align: center;
}
body main .content .seckill .imgs .banner .wrap .banner li img {
  width: 140px;
  height: 140px;
}
body main .content .seckill .imgs .banner .wrap .banner li p {
  padding: 0 20px;
  font-size: 12px;
  font-weight: 400;
  color: #e1251b;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 13px;
  text-align: center;
}
body main .content .seckill .imgs .banner .wrap .banner li p:nth-of-type(1) {
  color: #333;
}
body main .content .seckill .imgs .banner .wrap .banner li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 200px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: linear-gradient(180deg, white, #eeeeee, white);
}
body main .content .seckill .imgs .banner #banner1:checked ~ .wrap .banner:nth-child(1),
body main .content .seckill .imgs .banner #banner2:checked ~ .wrap .banner:nth-child(2) {
  opacity: 1;
  animation: showImg linear 1s 1 0s normal;
}
body main .content .seckill .imgs .banner .arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  color: #fff;
  cursor: pointer;
}
body main .content .seckill .imgs .banner .left {
  left: 0;
}
body main .content .seckill .imgs .banner .right {
  right: 0;
}
body main .content .seckill .imgs .banner .arrow label {
  display: none;
}
body main .content .seckill .imgs .banner #banner1:checked ~ .left label:nth-of-type(2),
body main .content .seckill .imgs .banner #banner2:checked ~ .left label:nth-of-type(1) {
  display: block;
}
body main .content .seckill .imgs .banner #banner2:checked ~ .right label:nth-of-type(1),
body main .content .seckill .imgs .banner #banner1:checked ~ .right label:nth-of-type(2) {
  display: block;
}
body main .content .seckill .imgs .swapper {
  padding: 10px;
  width: 190px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
body main .content .seckill .imgs .swapper input {
  position: absolute;
  z-index: 50;
  bottom: 14px;
  width: 8px;
  height: 8px;
}
body main .content .seckill .imgs .swapper #swapper1 {
  left: 46%;
}
body main .content .seckill .imgs .swapper #swapper2 {
  left: 54%;
}
body main .content .seckill .imgs .swapper .wrap_container {
  position: relative;
  left: 0px;
  width: 380px;
  display: flex;
  animation: animateImg2 ease 5s infinite normal;
}
@keyframes animateImg2 {
  0% {
    left: 0px;
  }
  33% {
    left: 0px;
  }
  66% {
    left: -190px;
  }
  100% {
    left: -190px;
  }
}
body main .content .seckill .imgs .swapper .wrap_container .swapper_info {
  width: 190px;
}
body main .content .seckill .imgs .swapper .wrap_container .swapper_info img {
  width: 140px;
  height: 140px;
}
body main .content .seckill .imgs .swapper .wrap_container .swapper_info div {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(220, 224, 236, 0.5));
  padding-top: 6px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
body main .content .seckill .imgs .swapper .wrap_container .swapper_info div p:nth-of-type(1) {
  color: #666;
}
body main .content .seckill .imgs .swapper .wrap_container .swapper_info div p:nth-of-type(1) {
  color: #333;
  font-weight: 700;
}
body main .content .seckill .imgs .swapper .wrap_container .swapper_info div span {
  color: #e1251b;
  border-radius: 14px;
  width: 82px;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  line-height: 22px;
  font-weight: 700;
  padding-left: 4px;
  font-size: 12px;
  border: 1px solid #e1251b;
  margin-top: 4px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
body main .content .seckill .imgs .swapper #swapper1:checked ~ .wrap_container .swapper_info:nth-child(1),
body main .content .seckill .imgs .swapper #swapper2:checked ~ .wrap_container .swapper_info:nth-child(2) {
  opacity: 1;
  animation: showImg linear 1s 1 0s normal;
}
body main .special {
  display: flex;
  justify-content: space-between;
  padding: 20px 340px;
  width: 100%;
}
body main .special .special_offer,
body main .special .special_sale {
  width: 49%;
  background-color: white;
  height: 340px;
  padding: 16px;
}
body main .special .special_offer .title,
body main .special .special_sale .title {
  display: flex;
  justify-content: space-between;
}
body main .special .special_offer .title label,
body main .special .special_sale .title label {
  padding-left: 4px;
  float: left;
  display: inline-flex;
}
body main .special .special_offer .title label h2,
body main .special .special_sale .title label h2 {
  font-weight: 400;
  font-size: 24px;
  color: #333;
  line-height: 32px;
}
body main .special .special_offer .title label i,
body main .special .special_sale .title label i {
  margin-left: 10px;
  font-size: 18px;
  font-style: normal;
}
body main .special .special_offer .title ul,
body main .special .special_sale .title ul {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
body main .special .special_offer .title ul li,
body main .special .special_sale .title ul li {
  cursor: pointer;
  font-size: 14px;
  font-family: Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
  color: #999;
  line-height: 19px;
  padding-bottom: 2px;
}
body main .special .special_offer .title ul li:not(:last-child),
body main .special .special_sale .title ul li:not(:last-child) {
  margin: 0 13.5px;
}
body main .special .special_offer .title ul li:first-child,
body main .special .special_sale .title ul li:first-child {
  color: #e1251b;
  border-bottom: solid 2px #e1251b;
}
body main .special .special_offer .off_content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
body main .special .special_offer .off_content .off_left {
  position: relative;
  background-color: rgba(109, 126, 146, 0.05);
  float: left;
  width: 170px;
  height: 265px;
  margin-right: 6px;
  padding: 0 10px;
  text-align: center;
}
body main .special .special_offer .off_content .off_left label {
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAAwBAMAAABKwk3PAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURfa3PfekAPevIveoDva0MtFTl6MAAACYSURBVHjatdJBEYMAEARBKoWBsxAUYAH/osgn1QbmWsB8do8dn2tmJXxe87MU3kl/79lJP/f85WHqWwz5euRh6lsM+XrkYaJbQL4eeZjoFpCvRx4mugXk65GHiW4B+XrkYaJbQL4eeZjoFpCvRx4mugXk65GHiW4B+XrkYaJbQL4eeZjoFpCvRx4mugXk6yGcc4uc9XLCuReQiZzR/LVhfgAAAABJRU5ErkJggg==);
  width: 90px;
  height: 24px;
  left: 0;
  background-size: cover;
  background-position: 50%;
  font-family: MicrosoftYaHei-Bold, Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}
body main .special .special_offer .off_content .off_left img {
  margin-top: 48px;
  width: 120px;
  height: 120px;
}
body main .special .special_offer .off_content .off_left p {
  width: 100%;
}
body main .special .special_offer .off_content .off_left p:nth-of-type(1) {
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
  margin-top: 4px;
}
body main .special .special_offer .off_content .off_left p:nth-of-type(2) {
  font-size: 12px;
  line-height: 24px;
  font-family: Arial-BoldMT, Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
  letter-spacing: 0;
  margin-top: 5px;
  color: #e1251b;
}
body main .special .special_offer .off_content .off_left p:nth-of-type(2) span {
  font-size: 16px;
  font-weight: 700;
  margin-left: 4px;
}
body main .special .special_offer .off_content .off_left p:nth-of-type(3) {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: #999;
}
body main .special .special_offer .off_content .off_left p:nth-of-type(3) span {
  color: #e1251b;
}
body main .special .special_offer .off_right {
  flex: 1;
}
body main .special .special_offer .off_right .off_item {
  display: inline-flex;
  justify-content: space-between;
  padding: 16px 0 30px 10px;
  width: 164px;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(1) {
  position: relative;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(1) img {
  width: 84px;
  height: 84px;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(1) label {
  display: inline-block;
  overflow: hidden;
  width: 84px;
  height: 16px;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  color: #fff;
  text-align: center;
  line-height: 16px;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(2) {
  width: 66px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(2) > div span {
  display: inline-block;
  width: 100%;
  color: #333;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(2) > div p:nth-of-type(1) {
  font-size: 14px;
  line-height: 16px;
  font-family: Arial-BoldMT, Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
  color: #e1251b;
  letter-spacing: 0;
  font-weight: 700;
  display: inline-block;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(2) p {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: #999;
}
body main .special .special_offer .off_right .off_item div:nth-of-type(2) p span {
  color: #e1251b;
}
body main .special .special_sale .sale_content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  height: 265px;
}
body main .special .special_sale .sale_content .sale_left {
  width: 230px;
  background: linear-gradient(180deg, rgba(245, 175, 175, 0.05), rgba(79, 3, 3, 0.05));
  text-align: center;
}
body main .special .special_sale .sale_content .sale_left img:nth-of-type(1) {
  width: 70px;
  height: 35px;
  display: block;
  margin: 15px auto 0;
}
body main .special .special_sale .sale_content .sale_left img:nth-of-type(2) {
  width: 130px;
  height: 130px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border: 0;
}
body main .special .special_sale .sale_content .sale_left h2 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 6px;
}
body main .special .special_sale .sale_content .sale_left h3 {
  font-size: 12px;
  color: #666;
  margin-bottom: 13px;
  margin-top: 1px;
}
body main .special .special_sale .sale_content .sale_right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 11px;
}
body main .special .special_sale .sale_content .sale_right .sale_item {
  width: 130px;
  text-align: center;
  position: relative;
}
body main .special .special_sale .sale_content .sale_right .sale_item:nth-child(odd)::after {
  position: absolute;
  width: 1px;
  height: 60px;
  right: 0;
  top: 50%;
  margin-top: -30px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eeeeee), color-stop(#eeeeee), to(white));
  background: linear-gradient(180deg, white, #eeeeee, #eeeeee, white);
  content: "";
}
body main .special .special_sale .sale_content .sale_right .sale_item img {
  width: 100px;
  height: 50px;
}
body main .special .special_sale .sale_content .sale_right .sale_item p {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
body main .loading {
  margin-bottom: 82px;
}
body main .loading em {
  display: block;
  width: 13px;
  height: 13px;
  margin: 12px auto;
  border-radius: 50%;
}
body main .loading em:nth-of-type(1) {
  background-color: #585857;
  animation: loading 2s linear 0.5s infinite;
  -webkit-animation: loading 2s linear 0.5s infinite;
}
body main .loading em:nth-of-type(2) {
  background-color: #969796;
  animation: loading 2s linear 1s infinite;
  -webkit-animation: loading 2s linear 1s infinite;
}
body main .loading em:nth-of-type(3) {
  background-color: #d1d2d0;
  animation: loading 2s linear 1.5s infinite;
  -webkit-animation: loading 2s linear 1.5s infinite;
}
body footer {
  width: 100%;
}
body footer .footer_labels {
  display: flex;
  padding: 30px 340px;
  width: inherit;
  justify-content: space-around;
  border-bottom: 1px solid #dedede;
}
body footer .footer_labels label {
  height: 42px;
  display: inline-flex;
  align-items: center;
  width: 226px;
}
body footer .footer_labels label:nth-of-type(1) span {
  background-position: 0 0;
}
body footer .footer_labels label:nth-of-type(2) span {
  background-position: -38.5px 0;
}
body footer .footer_labels label:nth-of-type(3) span {
  background-position: -77px 0;
}
body footer .footer_labels label:nth-of-type(4) span {
  background-position: 0 -44.5px;
}
body footer .footer_labels label span {
  background-repeat: no-repeat;
  background-size: 113px 86.5px;
  background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/93ec59f9796c37a0903bfdd45f59f9d5.png);
  height: 42px;
  width: 46px;
}
body footer .footer_labels label h1 {
  overflow: hidden;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
  margin-left: 10px;
}
body footer .footer_info {
  display: flex;
  margin: 0 340px;
  padding: 20px 0;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
}
body footer .footer_info ul li:first-child {
  font-size: 14px;
}
body footer .footer_info div {
  width: 200px;
}
body footer .footer_info div h2 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}
body footer .footer_info div p {
  padding: 0 10px;
}
body footer .footer_info div p:nth-of-type(2) {
  text-align: end;
}
body footer .footer_urls {
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
  padding: 15px 0;
  margin: 0 340px;
  text-align: center;
}
body footer .footer_urls ul {
  display: flex;
  justify-content: center;
  height: 22px;
  line-height: 22px;
  text-align: center;
  align-items: center;
}
body footer .footer_urls ul li {
  padding: 0 12px;
  line-height: 12px;
}
body footer .footer_urls ul li:not(:last-child) {
  border-right: 1px solid;
}
body footer .footer_urls ul:not(:first-child) {
  color: #999;
}
